<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gg.updater">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <provider
            android:name="com.gg.updater.GgUpdaterFileProvider"
            android:authorities="${applicationId}.gg_updater.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gg_updater_paths" />
        </provider>
    </application>
</manifest>
